In [1]:
%load_ext autoreload
%autoreload 2

In [165]:
import keras
import pandas as pd
import os
import importlib

try:
    os.chdir('py')
except FileNotFoundError:
    pass
import small
_ = importlib.reload(small)

In [169]:
handler = small.AbaloneHandler()

In [170]:
df = handler.read()

In [171]:
datasets = handler.split_and_apply_transforms(df)

In [177]:
datasets[small.Splits.val]['data']

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
856,M,0.590,0.475,0.165,1.0770,0.4545,0.2440,0.3095,9
2705,M,0.700,0.550,0.200,1.5230,0.6930,0.3060,0.4405,13
3451,M,0.550,0.440,0.155,0.9155,0.3645,0.1950,0.2500,8
2737,I,0.445,0.360,0.110,0.4235,0.1820,0.0765,0.1400,9
2611,M,0.630,0.480,0.165,1.2860,0.6040,0.2710,0.3500,8
...,...,...,...,...,...,...,...,...,...
3109,I,0.380,0.290,0.085,0.2285,0.0880,0.0465,0.0750,7
3623,M,0.660,0.530,0.175,1.5830,0.7395,0.3505,0.4050,10
1048,M,0.710,0.565,0.205,2.1980,1.0120,0.5225,0.5475,11
3832,F,0.460,0.365,0.115,0.4485,0.1650,0.0830,0.1700,14
3434,I,0.370,0.280,0.090,0.2565,0.1255,0.0645,0.0645,6

In [145]:
trn_X, trn_y = handler.apply_transforms(df)